body {
    background: linear-gradient(to bottom, #080742, #661aa8);
}
img{
    max-width: 40%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 900px;
    background: rgb(223, 224, 233);
}
 
.box {
    padding: 30px;
    text-align: center;
}
