body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #080742, #661aa8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow-x:hidden;
}
h1, p{
    color: #01002c;
    font-size: 1.5rem;
    text-align: center;
}
.left-box {
    color: rgb(32, 3, 3);
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* gap: 10px;
    padding: 10px; */
}
.left-box h1{
    order:1;
}
.left-box img{
    order:2;
}
.left-box p{
    order:3;
}
.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Nunito", "Helvetica", "Arial", sans-serif;
    order: 2;
}
img{
    max-width: 50%;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    
    width:95%;
    max-width: 100%;
    background: rgb(223, 224, 233);
    border-radius: 10px;
}
.box {
    padding: 10px;
    text-align: center;
    
    /* overflow-y:auto; */
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label {
    margin-top: 10px;
    font-weight: bold;
    color: #280c5f;
}
.input-field {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #7410cc;
    border-radius: 10px;
}
.submit-btn {
    margin-top: 20px;
    background: #7c3d8b;
    color: rgb(245, 239, 239);
    padding: 8px;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 5px;
    align-self:center;
}
.submit-btn:hover {
    background: #30165fd5;
}
/* ========== Tablet (≥750px) ========== */
@media (min-width: 750px) {
    .container {
        width: 85%;
        grid-template-columns: 1fr 1fr;
        
    }

    .submit-btn {
        align-self: center;
        width: 90%;
    }

    img {
        max-width: 50%;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}


@media (min-width: 1000px) {
    .container {
        width: 80%;
        max-width: 1500px;
    }

    .box {
        padding: 30px;
    }

    img {
        max-width: 40%;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    .input-field {
        font-size: 1rem;
    }

    .submit-btn {
        font-size: 1.1rem;
        padding: 12px;
        width: 100%;
    }
}
@media (min-height: 500px){

    .container{
        width: 90%;
    }
    .left-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img{
        height: 80%;
        order: 2;
    }
    h1{
        order: 1;
    }
    /* p{
        display:none;
    } */
} 
